table,
.pagination {
  width: 80%;
  margin: 2rem;
  margin-left: 7rem;
  border-collapse: collapse;
}

th {
  padding-bottom: 1rem;
}
td {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
tr {
  border-bottom: 0.2pt solid black;
}

tr:not(:first-child):hover {
  background-color: rgb(231, 231, 231);
}
td:nth-child(4) {
  text-transform: capitalize;
}
button {
  margin: 0.5rem;
}
#search-bar {
  width: 70%;
  height: 2rem;
  margin: 1rem;
  padding-right: 7rem;
}
